:root {
    --primary-clr: red;
    --secondary-clr: orange;
    --accent-clr: yellow;
    --btn-clr: blue;
    --board-clr: cyan;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.player_form {
    margin-bottom: 10px;
}

.board {
    display: grid;
    
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* border: 1px solid black; */
    gap: 20px;
    padding: 20px;
    background-color: #f3f3f3;
    border-radius: 10px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    border: 1px solid grey;
    background-color: lightblue;
    cursor: pointer;
}